body{

}
img{
  display: inline-block;
  border: none;
}
.con .node .span{
  opacity: 0;
  position: absolute;
  left: 0;
  bottom:0;
  width: 60%;
}
.con .node .span span ,.con .node .span h3{
  color: #fff;
  text-align: center;
}
.con .html5 .span{
  opacity: 0;
  position: absolute;
  left: 3%;
  top:80%;
  width: 30%;
}
.con .html5 .span span ,.con .html5 .span h3{
  color: #fff;
  text-align: center;
}
.con .connect .span{
  opacity: 0;
  position: absolute;
  right: -30%;
  top:10%;
  width: 60%;
}
.con .connect .span span ,.con .connect .span h3{
  color: #fff;
  text-align: center;
}
