<footer>
  <div class="footer">
    <div class="copyRight">
      <p>
        <span>CopyRight&nbsp;&nbsp;&copy;&nbsp;&nbsp;2017&nbsp;&nbsp;Knowledge&nbsp;&nbsp;Daybreak.&nbsp;&nbsp;版权所有：知晓工作室.</span>
      </p>
      <p>
        <span id="footer_connect">
          &nbsp;&nbsp;<a href="#">联系我们</a>&gt;&gt;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/alogin">管理员登录</a>&gt;&gt;
        </span>
      </p>
    </div>
  </div>
</footer>
