<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>知晓</title>
    <%- include head %>
    <link rel="stylesheet" href="/stylesheets/index.css">

    <script src="/javascripts/index.js" charset="utf-8"></script>




  </head>
  <body>
    <%- include nav %>
    <div class="con">
        <div class="container">
          <div class="row col-md-10 col-md-offset-1">
            <div class="right col-sm-9">
              asdf
            </div>
            <div class="left col-sm-3 hidden-xs">
              <div class="left_all">
                  asdasd
              </div>
            </div>
          </div>
        </div>
    </div>

    <%- include footer %>



  </body>
</html>
