<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>知晓</title>
    <link rel="shortcut icon"href="/public/images/logo.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootcss 4.0.0 -->
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/index.css">

    <script src="/javascripts/index.js" charset="utf-8"></script>



    <!-- 导航条ｊｓ　-->
    <script type="text/javascript" src="/javascripts/common.js"></script>

    <!-- 导航条ｃｓｓ -->
    <link rel="stylesheet" href="/stylesheets/common.css">

    <!-- 移动设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

  </head>
  <body>
    <nav id="nav" class="">
      <div class="nav row col-md-9 col-md-offset-2">
        <!-- logo -->
        <div class="logo">
          <a href="#">
            <img src="/images/logo.png" alt="">
          </a>
        </div>
        <div class="navbar">
            <div class="nav_border">

            </div>
            <ul>
            <li><a href="#" class="nav_one">提问</a></li><li><a href="#">答辩</a></li><li><a href="#">关于我们&nbsp;&gt;&gt;</a></li>
            </ul>
        </div>


        <!-- user 用户 -->
        <div class="user">
          <a href="#">登录</a>
          <a href="#">注册</a>
        </div>
      </div>

    </nav>
    <div class="con">
      <div class="node">
        <div class="span">
          <h3>javascript 跨平台神器</h3>
          <span>它是一个采用事件驱动、非阻塞I/O、轻量、可伸缩，适于实时数据交互应用的javascript运行环境</span>
        </div>
      </div>
      <div class="html5">
        <div class="span">
          <h3>HTML5 时代</h3>
          <span>html5时代带来了互联网世界的变革，将彻底影响我们的日常生活</span>
        </div>
      </div>
      <div class="connect">
        <div class="span">
          <h3>互联网世界</h3>
          <span>互联网将世界连在了一起，促进了人与人之间的交流，改变着我们的生活，也开拓了我们的未来。</span>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer col-md-9 col-md-offset-2">
        <div class="copyRight">
          <p>
            <span>CopyRight&nbsp;&nbsp;&copy;&nbsp;&nbsp;2017&nbsp;&nbsp;Knowledge&nbsp;&nbsp;Daybreak.&nbsp;&nbsp;版权所有：知晓工作室.</span>
          </p>
          <p>
            <span id="footer_connect">
              &nbsp;&nbsp;<a href="#">联系我们</a>&gt;&gt;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="#">管理员登录</a>&gt;&gt;
            </span>
          </p>



        </div>
      </div>
    </footer>



  </body>
</html>
