<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>知晓</title>
    <%- include head %>
    <link rel="stylesheet" href="/stylesheets/index.css">

    <script src="/javascripts/index.js" charset="utf-8"></script>




  </head>
  <body>
    <%- include nav %>
    <div class="con">
      <div class="node">
        <div class="span">
          <h3>javascript 跨平台神器</h3>
          <span>它是一个采用事件驱动、非阻塞I/O、轻量、可伸缩，适于实时数据交互应用的javascript运行环境</span>
        </div>
      </div>
      <div class="html5">
        <div class="span">
          <h3>HTML5 时代</h3>
          <span>html5时代带来了互联网世界的变革，将彻底影响我们的日常生活</span>
        </div>
      </div>
      <div class="connect">
        <div class="span">
          <h3>互联网世界</h3>
          <span>互联网将世界连在了一起，促进了人与人之间的交流，改变着我们的生活，也开拓了我们的未来。</span>
        </div>
      </div>
    </div>

    <%- include footer %>



  </body>
</html>
