<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon"href="images/logo.ico">
    <title><%= title %></title>
    <style media="screen">
      *{
        margin:0 auto;
        padding: 0;
        font-weight:bold;
      }
      html,body{
        width:100%;
        height:100%;
        background: url('images/login-cg.jpg') center center;
        background-size: cover;
      }
      .box{
        max-width:500px;
        padding: 20px 10px 0 10px;
        margin: 0 auto;
        color: white;
      }
      .box form span{
        margin-right: 10px;
        display:inline-block;
        width:80px;
        text-align: right;
        height:40px;
        line-height: 40px;
        color: white;
        font-size: 18px;
      }
      input{
        font-size: 22px;
        margin-bottom: 10px;
        border: 1px solid rgba(129, 129, 129, 0.39);
        background: white;
        height:32px;
        width: 100%;
        max-width:300px;
        opacity: 0.6;
      }
      input[type="text"]:focus,input[type="password"]:focus{
        outline: none;
        border: 1px solid #b4b4b4;
        background: rgba(124, 124, 124, 0.9);
        height: 32px;
        color:white;
      }
      h1{
        text-align:center;
        color: white;
        font-size: 38px;
        padding: 20px 0;
      }
      button{
        width:30%;
        height: 30px;
        margin-top: 30px;
        font-size: 18px;
        margin-left:10%;
      }
    </style>
  </head>
  <body>
    <div class="box col-sm-12 col-lg-12">
      <h1>Register</h1>
      <form class="" action="input_cg" method="post">
        <span>账号:</span><input type="text" name="user_id" value="" required><i style="color:red;">&nbsp;<%= rem %></i><br>
        <span>用户名:</span><input type="text" name="name" value="" required><br>
        <span>性别:</span><input type="radio" name="sex" value="男" style="width:15px;height:15px;" checked>男&nbsp;&nbsp;&nbsp;</span><input type="radio" name="sex" value="女" style="width:15px;height:15px;">女<br>
        <span>密码:</span><input type="password" name="password" id="password" value="" required><br>
        <span>确认密码:</span><input type="password" name="password2" id="password2" value="" required><br>
        <span>邮箱:</span><input type="text" name="email" value=""><br>
        <span>电话:</span><input type="text" name="phone" value=""><br>
        <span>密保问题:</span><select class="select" name="problem" style="height:25px;line-height:25px;">
          <option value="对你影响最大的人?">对你影响最大的人?</option>
          <option value="你高中班主任名字?">你高中班主任名字?</option>
          <option value="你最喜欢的一本书是?">你最喜欢的一本书是?</option>
          <option value="你最爱的人的名字?">你最爱的人的名字?</option>
          <option value="你父母的生日?">你父母的生日?</option>
        </select><br>
        <span>密保答案:</span><input type="text" name="answer" value="" required><br>
        <span>个人简介:</span><textarea name="profile" rows="8" cols="80" style="width:100%;max-width:498px;opacity: 0.8;"></textarea>
        <button type="submit">提交</button>
        <button type="reset">重置</button>
      </form>
      <script type="text/javascript">
        var blur = document.getElementById("password");
        var blur2 = document.getElementById("password2");

        blur2.onblur = function(){
          if(blur2.value !== blur.value){
            alert("两次密码输入不统一!");
            blur2.value = '';
          }
        }
      </script>
    </div>
  </body>
</html>
