<nav id="nav" class="">
  <div class="nav row col-md-9 col-md-offset-2">
    <!-- logo -->
    <div class="logo">
      <a href="/">
        <img src="/images/logo.png" alt="">
      </a>
    </div>
    <div class="navbar">
        <div class="nav_border">
        </div>
        <ul>
        <li><a href="/mess" class="nav_one">提问</a></li><li><a href="/quesList">答辩</a></li><li><a href="#">关于我们&nbsp;&gt;&gt;</a></li>
        </ul>
    </div>
    <div class="input-group col-sm-4 col-sm-offset-6 hidden-xs" id="nav_search" style="position:absolute;left:0;top:5px;">
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-btn">
        <button type="submit" class="btn"><span class="fui-search"></span></button>
        </span>
    </div>
    <!-- user 用户 -->
    <% if(name){ %>
    <div class="user">
      <ul>
          <li><span class="glyphicon glyphicon-user" style="color:orange">欢迎:<%= name %></span>
            <ul class="user_info">
              <li><a href="show_zy" class="btn btn-info">个人信息</a></li>
              <li><a href="problem" class="btn btn-info">我的问题</a></li>
              <li><a href="answer" class="btn btn-info">我的回答</a></li>
              <li><a href="/quesList" class="btn btn-info">&nbsp;&nbsp;&nbsp;答&nbsp;&nbsp;&nbsp;&nbsp;辩&nbsp;&nbsp;&nbsp;</a></li>
              <li><a href="/mess" class="btn btn-info">&nbsp;&nbsp;&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;问&nbsp;&nbsp;&nbsp;</a></li>
              <li><a href="/logout" class="btn btn-info">&nbsp;&nbsp;&nbsp;退&nbsp;&nbsp;&nbsp;&nbsp;出&nbsp;&nbsp;&nbsp;</a></li>
            </ul>
          </li>

      </ul>
    </div>
    <% }else{ %>
      <div class="user">
        <ul>
          <li><span class="glyphicon glyphicon-user" ></span>
            <ul class="user_info">
              <li><a href="login_cg" class="btn btn-success">登录</a></li>
              <li><a href="input_cg" class="btn btn-default">注册</a></li>
            </ul>
          </li>

        </ul>


      </div>
    <% } %>
  </div>

</nav>
