<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>xianshi</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/head.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.js"></script>
    <script type="text/javascript" src="javascripts/head.js"></script>
    <%- include head %>
  </head>
  <body>
    <%- include nav %>
    <% include head_zy %>
  </body>
</html>
