

  <form action="#" method="post">
  <div class="center">
    <ul>
      <li>我的密保问题:<%= info.problem %></li>
      <li>密保问题:<input id="name" type="text" name="answer" value=""></li>
      <li><button type="submit">提交</button></li>
    </ul>
  </div>
  </form>
