
  <form action="#" method="post">
  <div class="center">
    <ul>
      <li>原始密码:<input id="name" type="text" name="pas" value=""></li>
      <li>新密码:<input type="text" name="password" value=""></li>
      <li>确认密码:<input type="text" name="password1" value=""></li>
      <li><button type="submit">提交</button></li>
    </ul>
  </div>
  </form>
